* {
    margin:0;
    padding: 0;
    font-family: 'Poppines',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
 
    color: #fff;
}


#header{
    width: 100%;
    height: 20vh;
    background-position: center;
    background-image:linear-gradient(rgba(2, 2, 2, 0.8),rgba(0,0,0,0.8)), url('image-news/gear5.png');
    background-size: cover;
    border-top-left-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.container{
    margin-top: 10px;
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.logo{
    
    width: 240px;
 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
   background: #02224d;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}


/* Theories */
 
#theories{
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
 }

 .left{
    flex: 0.7;
    margin-left: 20px;
    padding: 0px 30px;
    
 }




 .right{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


 }

 .right .container-ads img{
    height: 200px;
    width: 300px;
    margin-bottom:5px;
 }

 .right .container-ads p{
    text-align: justify;
    margin-right: 40px;
 }



 .right .container-ads.no2{
    margin-top: 300px;
 }


 .right .container-ads.no2 h3{
    font-size: 40px;
   color: #000;
 }


 #theories span{
    font-size: 50px;
    color: #000;
 }

 #theories p{
    font-size: 20px;
    color: #000;
   
 }

 #theories .img-theory{
    height: 400px;
    width: 850px;
    background-size: cover;
 } 

 #theories h1{
    font-size: 30px;
    color: black;
 }
 

 #theories .more-theory p{
    color: #000;
 }

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box.banner-box1{
    background-image: url("image-theory/im-sama.jpg");
    background-position: center;
    background-size: cover;
}

#sm-banner .banner-box.banner-box1:hover{
    background-image: linear-gradient(rgba(2, 2, 2, 0.8),rgba(0,0,0,0.8)), url("image-theory/im-sama.jpg");
    background-position: center;
    background-size: cover;
}

#sm-banner .banner-box.banner-box2{
    background-image: url("image-news/x1wnp0oood691.webp");
    background-position: center;
    background-size: cover;
}

#sm-banner .banner-box.banner-box2:hover{
    background-image: linear-gradient(rgba(2, 2, 2, 0.8),rgba(0,0,0,0.8)), url("image-news/x1wnp0oood691.webp");
    background-position: center;
    background-size: cover;
    color: #fff;
}


#sm-banner h4{
    color: #000;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #000;
    border: 1px solid #000;
}

@media only screen and (max-width: 600px){

    #header{
        width: 100%;
        height: 15vh;
      
    }
    
        .logo{
            width: 120px;
        }

        nav ul li{
            display: inline-block;
            list-style: none;
            margin: 10px 20px;
        }

        nav ul li a{
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            position: relative;
        }

        nav ul li a::after{
            content: '';
            width: 0;
            height: 3px;
            background: #000;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: 0.5s;
        }

        nav ul li a:hover::after{
            width: 100%;
        }

        .header-text{
            margin-top: 20%;
            font-size: 30px;
        }

        .header-text h1{
            font-size: 60px;
            margin-top: 20px;
        }

        .header-text h1 span{
        background: #02224d;
        }

        button.normal{
            font-size: 14px;
            font-weight: 600;
            padding: 15px 30px;
            color: #000000;
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;
            border: none;
            outline: none;
            transition: 0.2s;
        }

        button.white{
            font-size: 13px;
            font-weight: 600;
            padding: 11px 18px;
            color: #fff;
            background-color: transparent;
            border-radius: 4px;
            cursor: pointer;
            border: 1px solid #fff;
            outline: none;
            transition: 0.2s;
        }


            
        /* Theories */
            
            #theories{
                width: 100%;
                height: 100%;
                flex-direction: row;
                align-items: flex-start;
                display: flex;
               
            }

            .left{
                flex: 0;
                margin-left:0px;
                padding: 0px 20px;
            }

            .right{
                flex: 0;
                display: flex;
            }

            .right .container-ads img{
                height: 70px;
                width: 110px;
                margin-bottom:5px;
                margin-right: 10px;
            }

            .right .container-ads p{
                text-align: justify;
                margin-right: 30px;
            }



            .right .container-ads.no2{
                margin-top: 300px;
            }


            .right .container-ads.no2 h3{
                font-size: 20px;
            color: #000;
            }


            #theories span{
                font-size: 12px;
                color: #000;
            }

            #theories p{
                font-size: 10px;
                color: #000;
            
            }

            #theories .img-theory{
                height: 150px;
                width: 200px;
                background-size: cover;
            } 

            #theories h1{
                font-size: 15px;
                color: black;
            }
            

            #theories .more-theory p{
                color: #000;
            }

        

            button.normal{
                font-size: 12px;
                font-weight: 600;
                padding: 12px 20px;
                color: #000;
                background-color: #fff;
                border-radius: 4px;
                cursor: pointer;
                border: none;
                outline: none;
                transition: 0.2s;
            }

            button.white{
                font-size: 12px;
                font-weight: 600;
                padding: 11px 18px;
                color: #fff;
                background-color: transparent;
                border-radius: 4px;
                cursor: pointer;
                border: 1px solid #fff;
                outline: none;
                transition: 0.2s;
            }

            #sm-banner {
                padding: 10px;
                
            }

            #sm-banner .banner-box{
                display: flex;
                flex-direction: column;
                height: 20vh;
                background-size: contain;
                margin-bottom: 20px;
                padding: 10px;
           
            }



            #sm-banner .banner-box.banner-box1{
                background-image: url("image-theory/im-sama.jpg");
                background-position: center;
                background-size: cover;
            }

            #sm-banner .banner-box.banner-box1:hover{
                background-image: linear-gradient(rgba(2, 2, 2, 0.8),rgba(0,0,0,0.8)), url("image-theory/im-sama.jpg");
                background-position: center;
                background-size: cover;
            }

            #sm-banner .banner-box.banner-box2{
                background-image: url("image-news/x1wnp0oood691.webp");
                background-position: center;
                background-size: cover;
            }

            #sm-banner .banner-box.banner-box2:hover{
                background-image: linear-gradient(rgba(2, 2, 2, 0.8),rgba(0,0,0,0.8)), url("image-news/x1wnp0oood691.webp");
                background-position: center;
                background-size: cover;
                color: #fff;
            }


            #sm-banner h4{
                color: #000;
                font-size: 12px;
                font-weight: 800;
            }
            #sm-banner h2{
                color: #000;
                font-size: 12px;
                font-weight: 800;
            }

            #sm-banner span{
                color: #fff;
                font-size: 12px;
                font-weight: 500;
                padding-bottom: 15px;
            }

            #sm-banner .banner-box:hover button{
                background: #000;
                border: 1px solid #000;
            }

}